bu

backend-prepare/.terraform
backend-prepare/.terraform.lock.hcl
backend-prepare/.terraform.tfstate.lock.info
backend-prepare/terraform.tfstate
backend-prepare/terraform.tfstate.backup

infra/.terraform
infra/.terraform.lock.hcl
infra/.terraform.tfstate.lock.info
infra/terraform.tfstate
infra/terraform.tfstate.backup

bu
